.selectedProjectList object {
    width: 1.3rem;
    height: 1.3rem;
}

.selectedProjectList .cellAction {
    cursor: pointer;
}

.selectedProjectList table tr td:nth-child(3):hover {
    background-color: dimgrey;
}

.selectedProjectList {
    color: var(--primary-text-color);
}

.selectedProjectList th {
    color: var(--secondary-text-color);
}

.selectedProjectList table,
.selectedProjectList th,
.selectedProjectList td {
    padding: 1rem;
    border-bottom: 1px solid var(--secondary-text-color);
    border-collapse: collapse;
}

.selectedProjectList table {
    min-width: 500px;
    width: 80%;
    margin: auto;
}

.selectedProjectList td {
    width: 33%
}