.projectSelector table {
    min-width: 500px;
    width: 80%;
    margin: auto;
}

.projectSelector table,
.projectSelector th,
.projectSelector td {
    padding: 0;
    border-collapse: collapse;
}

.projectSelector td {
    width: calc(100% / 3)
}

.projectSelector select {
    width: 100%;
    background-color: var(--input-background-color);
    /*background-color: #3b3b3b;*/
    border: none;
    height: 3rem;
    line-height: 3rem;
    color: var(--primary-text-color);
    padding: 0 0 0 1rem;
    border-right: 1rem solid transparent;
    cursor: pointer;

}

.projectSelector table tr td:nth-child(3):hover {
    background-color: dimgrey;
}


.projectSelector table tr {
    background-color: #444444;
}

.projectSelector object {
    width: 1.3rem;
    height: 1.3rem;
}

.projectSelector .cellAction {
    cursor: pointer;
}