.lastRefreshed {
    position: relative;
    display: inline-block;
    color: var(--secondary-text-color);
    font-size: 0.8rem;
    text-align: right;
}
.lastRefreshed div div {
    cursor: pointer;

}
.lastRefreshed object {
    width: 1rem;
    height: 1rem;
    margin-bottom: 4px;
}
